<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="jitter">
    @Html.Partial("_Nav")
    <div class="container body-content">
        <div class="row">
            <div class="col-xs-12">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 visible-md visible-lg"><img style="width: 100%; height: 100%;" src="http://lorempixel.com/250/350/abstract" /></div>
            <div class="col-md-6">
                @RenderBody()
            </div>
            <div class="col-md-3 visible-md visible-lg"><img style="width: 100%; height: 100%;" src="http://lorempixel.com/250/350/abstract" /></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/myangular")
    @RenderSection("scripts", required: false)
</body>
</html>
